@model IEnumerable<Customer>


@{
    Layout = "_Layout";
    var title = "READ Customer";
    ViewData["Title"] = title;
}

<h2>@title</h2>

<table class="table table-bordered table-sm table-striped">
    <thead>
        <tr><th>Id</th><th>FirstName</th><th>LastName</th><th>Addres</th><th>PhoneNumber</th><th>Update</th><th>Delete</th></tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <tr><td colspan="7" class="text-center">No Model Data</td></tr>
        }
        else
        {
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.FirstName</td>
                    <td>@p.LastName</td>
                    <td>@p.Addres</td>
                    <td>@p.PhoneNumber</td>
                    <td><a asp-action="Update" asp-route-id="@p.Id">Update</a></td>
                    <td>
                        <form asp-action="Delete" method="post" asp-route-id="@p.Id">
                            <button>Delete</button>
                        </form>
                    </td>
                </tr>

            }
        }
    </tbody>
</table> 

<h3 align ="right"><a asp-action="Create" class="btn btn-sm btn-secondary">Create</a></h3>